@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}
.header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Aboreto', cursive;
}
/* Start Navigation */
.header .nav{
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 999;
}
.header .nav p{
  align-self: center;
}
.header .nav #menuToggle{
  display: none;
}
.header .nav #navigation{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #fff;
  transition: .3s;
}
.header .nav #navigation li:hover:before{
  width: 100%;
}
.header .nav #navigation li a{
  text-decoration: none;
  color: #fff;
  transition: .3s;
}
@media(max-width:767px){
  .header .nav #navigation{
    position: absolute;
    overflow: hidden;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #000;
    width: 100%;
    height: 0;
    transition: .3s;
  }
  .header .nav #navigation.active{
    height: 250px;
    padding-top: 50px;
  }
  .header .nav #menuToggle{
    display: block;
    position: absolute;
    right: 20px;
    top:5px;
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s;
  }
  .header .nav #menuToggle:hover{
    border-radius: 5px;
    border: 2px solid rgba(255 255 255 / 60%);
  }
}
/* End Navigation */
.header .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .container .countdown-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  margin-top: 20px;
  animation: opc 1s linear infinite;
}
.header .container .countdown-container small{
  font-size: 16px;
}
.header #text{
  position: relative;
  font-size: 50px;
  text-align: center;
  transition: .3s;
  padding-top: 150px;
}
.header .clouds{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.header .clouds img{
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(5s * var(--i)) alternate infinite;
}
/* Start My Projects*/
section{
  position: relative;
  padding: 50px;
}
section h2{
  position: relative;
  font-size: 2.5em;
  margin:50px 0;
  text-align: center;
  font-family: 'Aboreto', cursive;
}
section .projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
section .projects .box{
  position: relative;
  box-shadow: 
  0 2px 15px rgba( 0 0 0 / 20%),
  0 -2px 15px rgba( 0 0 0 / 20%);
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: .3s;
}
section .projects .box:hover{
  box-shadow: 
  0 2px 15px rgba( 0 0 0 / 30%),
  0 -2px 15px rgba( 0 0 0 / 30%);
  transform: scale(1.1);
}
section .projects .box::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 4px;
  transition: .5s;
}
section .projects .box:hover:after{
  width: 100%;
}
section .projects .box img{
  width: 100%;
  height: 200px;
}
section .projects .box .content{
  padding: 20px;
}
section .projects .box .content h3{
  margin: 0;
  font-family: 'Aboreto', cursive;
}
section .projects .box .content p{
  color: #777;
  line-height: 1.5;
  margin: 10px 0 0;
}
section .projects .box .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #e6e6e7;
}
section .projects .box .info .live-demo{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color:rgba( 0 0 0 / 50%);
  font-size: 11px;
  transition: .3s;
  text-transform: uppercase;
  text-decoration: none;
}
section .projects .box .info .live-demo:hover{
  gap: 30px;
  color:rgba( 0 0 0 / 30%);
}
section .projects .box .info .live-demo::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 0;
  background:rgba( 0 0 0 / 30%);
  transition: .3s;
}
section .projects .box .info .live-demo:hover:before{
  width: 65px;
}
section .projects .box .info .source{
  font-size: 24px;
  border-radius: 50%;
  padding: 3px 6px;
  background: #fff;
  color: #000;
  box-shadow: 
  1px 1px 10px rgba(0, 0, 0, .1),
  -1px -1px 10px rgba(0, 0, 0, .1);
  transition: .3s;
}
section .projects .box .info .source:hover{
  transform: scale(1.1);
  box-shadow: 
  2px 2px 12px rgba(0, 0, 0, .2),
  -2px -2px 12px rgba(0, 0, 0, .2);
}
/* End My Projects*/
/* Start Footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, .9);
  padding: 20px;
  text-align: center;
}
footer .copyright{
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
footer .media ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px
}
footer .media ul li{
  list-style: none;
}
footer .media ul li a{
  color: #000;
  padding: 10px 13px;
  background: #fff;
  border-radius: 50%;
  transition: .3s;
}
footer .media ul li a:hover{
  background: #000;
  color: #fff;
}
footer .date{
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
/* End Footer */
/* Animataion */
@keyframes animate{
  0%{
    transform: scale(1);
  }
  100%{
    transform:scale(3);
  }
}
@keyframes opc{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}
/* Media*/
@media(max-width:767px){
  .header{
    height: 60vh;
  }
  .header #text{
    font-size: 24px;
  }
  .header .container .countdown-container{
    font-size: 19px;
  }
  .header .container .countdown-container small{
    font-size: 11px;
  }
  section h2{
    font-size:24px ;
  }
  footer{
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
  }
}
/* Scroll to Top */
.scrollTop{
  position: fixed;
  bottom: 70px;
  right: -50px;
  font-size: 20px;
  padding: 5px 7px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  transition: .3s;
  cursor: pointer;
}
.scrollTop.show{
  right: 10px;
}
.scrollTop:hover{
  background: #000;
  color: #fff;
}
